@model TeduShop.Web.Models.ProductModel

@{
	/**/

	ViewBag.Title = "Detail";
	Layout = "~/Views/TrangChu/TrangChu.cshtml";
}

@section footerJs{
	<script type="text/javascript" src="~/Assets/Client/js/jquery.flexisel.js"></script>
	<script src="~/Assets/Client/js/jquery.etalage.min.js"></script>

	<script>
		jQuery(document).ready(function ($) {

			$('#etalage').etalage({
				thumb_image_width: 300,
				thumb_image_height: 400,
				source_image_width: 900,
				source_image_height: 1200,
				show_hint: true,
				click_callback: function (image_anchor, instance_id) {
					alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
				}
			});

		});
	</script>
	<script type="text/javascript">
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 3
					}
				}
			});

		});
	</script>


}
<div class=" single_top">
	<div class="single_grid">
		<div class="grid images_3_of_2">
			<ul id="etalage">
				<li>
					<a href="optionallink.html">
						<img class="etalage_thumb_image img-responsive" src="@Model.Image" />
					</a>
				</li>
				@{
					var moreImg = (List<string>)ViewBag.MoreImgs;
					if (moreImg.Count > 0)
					{
						foreach (var item in moreImg)
						{
							<li>
								<img class="etalage_thumb_image img-responsive" src="@item" />
								<img class="etalage_source_image img-responsive" src="@item" title="" />
							</li>
						}
					}
				}

			</ul>
			<div class="clearfix"> </div>
		</div>
		<div class="desc1 span_3_of_2">


			<h4>@Model.Name</h4>
			<div class="cart-b">
				<div class="left-n ">@(Model.Price == 0 ? "Lien he" : Model.Price.ToString())</div>
				<a class="now-get get-cart-in" href="/them-gioi-hang/@Model.ID">Thêm giỏ hang</a>
				<div class="clearfix"></div>
			</div>
			<h6>@Model.Quantity sản phẩm trong kho</h6>
			<p>@Model.Description</p>
			<div class="share">
				<h5>Chia sẻ :</h5>
				<ul class="share_nav">
					<li><a href="#"><img src="~/Assets/Client/images/facebook.png" title="facebook"></a></li>
					<li><a href="#"><img src="~/Assets/Client/images/twitter.png" title="Twiiter"></a></li>
					<li><a href="#"><img src="~/Assets/Client/images/rss.png" title="Rss"></a></li>
					<li><a href="#"><img src="~/Assets/Client/images/gpluse.png" title="Google+"></a></li>
				</ul>
			</div>


		</div>
		<div class="clearfix"> </div>
	</div>
	@{
		var products = (IEnumerable<TeduShop.Web.Models.ProductModel>)ViewBag.RelatedProducts;

	}
	<ul id="flexiselDemo1">
		@foreach (var item in products)
		{
			<li>
				<img src="@item.Image" />
				<div class="grid-flex">
					<a href="/@(item.Alias).p-@(item.ID).html">@item.Name</a>
					<p>@item.Price</p>
				</div>
			</li>
		}

	</ul>

	<div class="toogle">
		<h3 class="m_3">Chi tiết sản phẩm</h3>
		<p class="m_text">@Html.Raw(Model.Content)</p>
	</div>
</div>