@model IEnumerable<TeduShop.Web.Models.ProductCategoryModel>
<div class="sub-cate">
	<div class=" top-nav rsidebar span_1_of_left">
		<h3 class="cate">Danh mục sản phẩm</h3>
		<ul class="menu">
			@foreach (var item in Model.Where(x => x.ParentID == null))
			{
				var url = "/" + item.Alias + ".pc-" + item.ID + ".html";
				var childCategories = Model.Where(x => x.ParentID == item.ID);
				<li class="item1">
					<a href="@url">@item.Name @(childCategories.Count() > 0 ? 
					"<img class=\"arrow-img\" src=\"~/ Assets / Client / images / arrow1.png\" alt=\"\" /> " : " ") </a>
					@if (childCategories.Count() > 0)
					{
						<ul class="cute">
							@foreach (var childCategory in childCategories)
							{
								var childUrl = "/" + childCategory.Alias + "pc." + childCategory.ID + ".html";
								<li class="subitem1"><a href="@childUrl">@childCategory.Name </a></li>
							}
						</ul>
					}
				</li>
			}
		</ul>
	</div>
	<div class=" chain-grid menu-chain">
		<a href="single.html"><img class="img-responsive chain" src="~/Assets/Client/images/wat.jpg" alt=" " /></a>
		<div class="grid-chain-bottom chain-watch">
			<span class="actual dolor-left-grid">300$</span>
			<span class="reducedfrom">500$</span>
			<h6><a href="single.html">Lorem ipsum dolor</a></h6>
		</div>
	</div>
	<a class="view-all all-product" href="product.html">Xem tất cả sản phẩm<span> </span></a>
</div>